.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.wrapper {
  height: 100%;
  max-width: 1366px;
  margin: auto;
}

.wrapper img {
  max-height: 40px;
  max-width: 40px;
}

.hero img {
  height: calc(100vh - 100px);
  overflow: hidden;
  margin: auto;
}

// .textContainer{

// }

.imgContainer {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
