.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.wrapper {
  height: 100%;
  max-width: 1366px;
  margin: auto;

  .textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    h2 {
      font-size: 30px;
      color: purple;
      letter-spacing: 10px;
    }

    img {
      width: 50px;
    }
  }
}

.wrapper img {
  max-height: 40px;
  max-width: 40px;
}

.hero img {
  height: calc(100vh - 100px);
  overflow: hidden;
  margin: auto;
}

// .textContainer{

// }

.imgContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
